html {
	font-size: 62.5%;
}

body {
	@include font(null, normal);
}

p {
	@include font-size(1.6);
	line-height: 1.3;
}

a {
	color: $brand-color;
  text-decoration: none; 

  &:hover {
    text-decoration: underline;
  }
}