/* Font */
$font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif!default;

$font-base-size: 16px;
$font-weight-normal: normal;

$line-height-base: 1.2;

/* Colours */

$brand-color: #4ea1fd!default;